img{
  width: 1600px;
  height: 1500px;
}
h1{
  text-align: center;
  font-size: 50px;
}
div{
  text-align: center;
  position: relative;
  bottom:20px;
  font-size:20px;
}
.x{
  width: 1600px;
  height: 600px;
}
.y{
  width: 1600px;
  height: 1000px;
}
iframe{
  position: relative;
  top:50px;
}
