img{
  width:1600px;
  height:800px;
}
h1{
  text-align: center;
  font-size:50px;
}
p{
  text-align: center;
  font-size:20px;
}
.p1{
  text-align: left;
  font-size:30px;
  transform: translate(8%,8%);
  top:5px;
  position: relative;
}
.p2{
  text-align: center;
  font-size: 30px;
  position: relative;
  bottom:60px;
}
.p3{
  text-align: right;
  font-size: 30px;
  position: relative;
  bottom:120px;
  transform: translate(-12%,-12%);
}
.p4{
  text-align: left;
  font-size:40px;
  transform: translate(11%,11%);
  position: relative;
  bottom:130px;
}
.p5{
  text-align: center;
  font-size: 40px;
  position: relative;
  bottom:200px;
}
.p6{
  text-align: right;
  font-size: 40px;
  position: relative;
  bottom:280px;
  transform: translate(-10%,-10%);
}
div{
  position: relative;
  bottom:270px;
}
video{
  position: relative;
  bottom:250px;
}
.a{
  position: relative;
  bottom:250px;
}
iframe{
  position: relative;
  bottom:250px;
}
