.car-d {
    height: 700px;
    width: 100%;
    background-color: black;
    background-image: url("photos/hmi.jpg");
    background-size: 1300px;
}

.site-name {
    color: red;
    font-size: 150px;
    padding: 0%;
    margin: 0%;
}

.b {
    padding: 0%;
    margin: 0%;
    background-color: black;
}

.d1 {
    padding-top: 50px;
    height: 100px;
    width: 100%;
    background-color: black;
}

#link1 {
    border-radius: 50%;
    padding: 30px;
    margin: 20px;
    display: inline;
    background-color: red;
    font-size: 40px;
}

#link2 {
    position: relative;
    right: -90px;
    border-radius: 50%;
    padding: 18px;
    margin: 20px;
    display: inline-block;
    background-color: red;
    font-size: 40px;
}

a {
    text-decoration: none;
    color: black;
}

.right-d {
    background-color: black;
    position: absolute;
    top: 150px;
    right: 0%;
    width: 20%;
    height: 600px;
}

#link1:hover {
    font-size: 20px;
}

#link2:hover {
    font-size: 20px;
}

.typewriter h1 {
    color: red;
    overflow: hidden;
    animation: typing 3.5s steps(40, end), blink-caret .10s step-end infinite;
    border-right: .05em solid red;
    white-space: nowrap;
}

@keyframes typing {
    from {
        width: 0%;
    }
    to {
        width: 46%
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: red;
    }
    50% {
        border-color: red;
    }
}

.typewriter h2 {
    font-size: 30px;
    color: red;
    overflow: hidden;
    animation: typing 5.5s steps(40, end) infinite, blink-caret .10s step-end infinite;
    border-right: .05em solid red;
    white-space: nowrap;
}

@keyframes typing {
    from {
        width: 0%;
    }
    to {
        width: 46%
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: red;
    }
    50% {
        border-color: red;
    }
}
