.b {
    padding: 0%;
    margin: 0%;
    background-color: black;
}

#d1 {
    position: fixed;
    width: 100%;
    height: 120px;
    background-color: black;
}

.d1-left {
    height: 70px;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: black;
    padding: 10px;
}

.d1-left h1 {
    overflow: hidden;
    animation: typing 5.5s steps(40, end)infinite, blink-caret .10s step-end infinite;
    border-right: 0.05em solid white;
    white-space: nowrap;
}

@keyframes typing {
    from {
        width: 0%;
    }
    to {
        width: 100%
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: white;
    }
    50% {
        border-color: white;
    }
}

#top {
    height: 70px;
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 500px;
    background-color: black;
    padding: 10px;
}

.d1-home {
    height: 70px;
    position: absolute;
    top: 10px;
    right: 350px;
}

.d1-right {
    height: 70px;
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 10px;
    background-color: black;
    padding: 10px;
}

#d2 {
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 900px;
    background-image: url("photos/bmw-logo-05.jpg");
    background-size: 1500px;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

#d3 {
    color: white;
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 650px;
    background-color: black;
}

#d4 {
    color: white;
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 650px;
    background-color: black;
}

#d5 {
    color: white;
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 360px;
    background-color: black;
}

#d6 {
    color: white;
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 320px;
    background-color: black;
}

#d7 {
    display: inline-block;
    color: white;
    padding: 0%;
    margin: 0%;
    width: 100%;
    background-color: black;
}