body {

	background-image: url(images/logo3.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
b{
	color: white;

;
	font-size: 300% ;
}
summary{

	border-style: solid;
	border-radius: 50px;
	padding: 40px;
	margin: 50px;

}
p{
	width:100% ; height: 100% ;
font-size: 49px;
color:  
 #8585ad
;
text-align: center;
text-indent: 20px;
overflow-x: hidden;
}
#x{
	list-style-type: none;
	background-color: rgba(152, 217, 231, 0.712);
	padding: 5px;
	margin: 5px;
}
#x li{
	display: inline-block;
	padding: 14px 20px;
}
#x li a  {
	color: rgb(7, 33, 148);
font-size: 2rem;
text-decoration: none;

}
#x li:hover{
	background-color: #666

}
::selection{
background-color:black;
color : hotpink;
}
summary :hover{
	cursor: pointer;

}
details :hover{
	border-color: aquamarine;

}