body{background-color:black;}
.a{font-weight: 700;
    color:white;
    text-decoration: none;
padding: 20px 20px ;}    
div{
    border: solid;
    border-radius: 20px;
    color: black;}
img{width: 300px;}
.sty{
    width: 70%;
    height: 80%;
    padding: 50px  15%;
    border-radius: 20px;
    color: red;
    background-color:white;
}
