body{background-color:white;}
.a{font-weight: 700;
    color:black;
    text-decoration: none;
padding: 20px 20px ;}    
div{
    border: solid;
    border-radius: 20px;
    color: black;}
img{width: 300px;}
