button{
background-color: rgba(189, 189, 226, 0.438);
padding: 15px;
font-size: 35px;
cursor: pointer;
border: none;}
div#n{
    background-color: gray  ;
display: inline-block;
border-style: solid;
border-radius: 20px ;
}
div#m a p:hover{
    background-color: #fcd978;
}
div#m a p{
    color: black;
    display: block;
    padding: 13px 15px;
}
  div#m{
background-color: lightgray;
display: none;
position: absolute;
min-width: 160px;

}
div#n:hover #m{
    display: block;
}
.inside{
    width: 50%;
    height: vh;
    border-radius: 20px;
    padding: 8px 8px;
    background-color: rgba(189, 189, 226, 0.438);
    margin: 5px;
    border-style: solid;
}
 a{
    text-align: left;
    text-decoration: none;
    text-align: left;
    color: white;
}
p{
    color: rgb(51, 25, 145);
    text-align: left;
    padding: 5px;
    border-left-style: solid; 
    font-size: 30px;
}
img{
    padding: 4px;
    float: left;
    height: 30px ;
    width: 30px;
}
body{
background-image: url(review1.jpg);
background-size: 100% 100%;
background-attachment: fixed;
}
#x{
	list-style-type: none;
	background-color: rgba(152, 217, 231, 0.322);
	padding: 5px;
	margin: 5px;
}
#x li{
	display: inline-block;
	padding: 14px 20px;
}
#x li a  {
	color: rgb(7, 33, 148);
font-size: 2rem;
text-decoration: none;

}
#x li:hover{
	background-color: #666

}